@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family:bebas;
	src:url("../bebas/SVN-BEBAS NEUE BOLD.TTF");
}
@font-face
{
	font-family:averta;
	src:url("../averta/Averta-Regular.otf");
}
@font-face
{
	font-family:nexabook;
	src:url("../nexa font/Nexa-Book.ttf");
}
@font-face
{
	font-family:avertalight;
	src:url("../averta/Averta-Light.otf");
}


.menu
{height:80px;z-index: 100px;}
.menu ul li
{list-style: none; line-height:110px}
.menu ul li .fa
{font-size: 20pt;}
div.menu img:hover
{visibility: hidden;}
.navigator
{visibility:visible;}
div.navigator ul li
{list-style:none;float:left;line-height:105px;font-family: bebas;margin-right:22px;}
div.navigator ul
{margin:0;padding:0;}
ul li a
{font-size:14pt;text-decoration:none;color:#161616;}
ul li a:hover
{color:#ffcc00;text-decoration:none;}
.logo
{line-height:100px;background-color: white}
.logo img
{width:40%;}
.blank
{height:50px}
.sign
{height:110px;}
.sign ul li
{list-style:none;text-align:right;line-height:105px;font-family:bebas;visibility:visible;}
.sign ul
{margin-right: 25px;padding:0;}



.back
{height:460px;visibiity:visible;}
a.trolai
{font-family:avertalight;text-decoration:none;color:#161616;font-size:12pt;margin-top:100px;float:right;}
a.trolai:hover
{color:#161616;text-decoration:none;}
.arrow
{width:100%;float:right;}



.new
{height:580px;padding-top:170px;}
a.gioto
{margin-left:150px;text-decoration:none;color:#161616;font-family:bebas;font-size:30pt;}
.info
{margin:10px 0 0 540px;width:400px;height:110px;font-family:averta;font-size:12pt;text-decoration:none;color:#161616;}
.them
{height:100px;margin: 15px 0 0 730px;}
.docthem
{text-align:left;font-family:avertalight;text-decoration:none;color:#161616;font-size:12pt;writing-mode:vertical-rl;visibility:visible;}
.new img
{height:90%;visibility:visible;}



.space ul li
{list-style:none;text-align:center;color: #4d4d4d;}
.space ul li :hover
{color: #ffcc00;}
#like-button:hover
{cursor: pointer;color: #ffcc00;}
#like-button.not-liked:hover
{color: #ffcc00;}
#like-button.liked
{color: #ffcc00;}
#save-button:hover
{cursor: pointer;color: #ffcc00;}
#save-button.not-liked:hover
{color: #ffcc00;}
#save-button.liked
{color: #ffcc00;}



.wrapper
{height:1400px;width:100%;border:thin solid #ffffff;border-radius:10px;padding:40px;box-shadow:0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.18);}
.document
{height:1500px;}
.document
{font-family:averta;font-size:14pt;text-decoration:none;color:#161616;text-align:left;}
.essay01
{padding: 0 0 40px 0;}
.essay01 img
{width:40%;height:300px;float: right;border: 1px none black;margin: 0px 0px 40px 40px;object-fit: cover;}
.essay02
{padding: 0 0 40px 0;}
.essay02 img
{width:50%;height:420px;float:left;border: 1px none black;margin: 0px 40px 40px 0;object-fit: cover;}
.essay03
{padding: 0 0 40px 0;}
.essay03 img
{width:40%;height:300px;float: right;border: 1px none black;margin: 0px 0px 40px 40px;object-fit: cover;}
  



.bar
{height:460px;visibility:visible;}
div.bar div.icon img:hover
{visibility: hidden;}
.icon
{height:150px;margin: auto 0;}
.icon ul li
{list-style: none; margin: 10px 0 20px 0; width: 100%;}
.icon ul li .fa
{color:#4d4d4d;}
.icon ul li :hover {color: #ffcc00;}
.step
{height:10px;float:right;}
.page
{height:300px;font-family:nexabook;color:#161616;font-size:10pt;letter-spacing:8px;writing-mode:vertical-rl;}







@media only screen and (max-width:768px)
{
	.menu
	{height:45px;padding-top:20px;}
	.navigator
	{height:45px;background-color:white;visibility:hidden;}
	.logo
	{height:45px;line-height:60px;}
	.logo img
	{width:30%;}
	.blank
	{height:45px;}
	.sign
	{height:45px;}
	.sign ul li
	{visibility:hidden;line-height:0;}
	.back
	{height:180px;visibility:hidden;}
	.new
	{height:460px;}
	a.gioto
	{margin-left:10px;}
	.info
	{margin-left:100px;}
	.bar
	{height:180px;visibility:hidden;}
	.docthem
	{visibility:hidden;}
	.new img
	{visibility:hidden;}
	.document
	{height:2000px;font-size:12pt;}
	.essay01 img
	{height:180px;}
	.essay02 img
	{height:360px;}
	.essay03 img
	{height:180px;}
	.logo img
	{width:40%;}
		
	
}
	

	
	
@media only screen and (max-width:576px)
{	
	.logo img
	{width:60%;}
	a.gioto
	{margin-left:60px;}
	.info
	{margin-left:140px;}
	.wrapper
	{border:none;box-shadow:none;}
	.document
	{height:2000px;font-size:10pt;}
	
}
